body {
  background-image: url(../imgs/movie_strip_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  background: rgba(196, 196, 196, 0);
  text-align: left;
  margin-bottom: 0px;
}

.movieList {
  background-color: rgba(5, 5, 5, 0.4);
  border: 5px solid rgb(14, 14, 14);
  border-radius: 1px;
  display: inline-block;
  padding: 0px;
}

#add-form {
  padding: 0px;
}

a,
li {
  color: rgb(197, 197, 197);
}

.display-4 {
  color: rgb(199, 73, 58);
  font-family: "Anton", sans-serif;
}

.lead {
  color: rgb(104, 151, 117);
}

.form-check {
  color: rgb(104, 151, 117);
  font-size: 20;
  font-weight: bold;
}

#seenFalse {
  display: block;
}

#seenTrue {
  display: none;
}

#seen-btn {
  color: rgb(104, 151, 117);
}

#addBtn {
  background-color: rgb(199, 73, 58);
  color: rgb(248, 248, 248);
}

#delete-btn {
  color: rgb(199, 73, 58);
}

.control-label {
  color: rgb(199, 73, 58);
  font-weight: bold;
  text-decoration: underline;
}

.inputMovie {
  background-color: rgba(5, 5, 5, 0.4);
  color: white;
  border: 1px solid rgb(199, 73, 58);
}

.pInfo {
  color: white;
  background-color: rgba(5, 5, 5, 0.4);
  border: 5px solid rgb(14, 14, 14);
}
