.jumbotron {
  background: rgba(196, 196, 196, 0);
  text-align: left;
  margin-bottom: 0px;
}

.movieList {
  background-color: rgba(5, 5, 5, 0.4);
  border: 5px solid rgb(14, 14, 14);
  border-radius: 1px;
  display: inline-block;
  padding: 0px;
}

#add-form {
  padding: 0px;
}

a,
li {
  color: rgb(197, 197, 197);
}

.display-4 {
  color: rgb(199, 73, 58);
  font-family: 'Ultra', serif;
}

.lead,
.control-label {
  color: rgb(104, 151, 117);
  font-family: 'Abel', sans-serif;
}

.form-check {
  color: rgb(104, 151, 117);
  font-size: 20;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

#seenFalse {
  display: block;
  font-family: 'Abel', sans-serif;
}

#seenTrue {
  display: none;
  font-family: 'Abel', sans-serif;
}

#seen-btn {
  color: rgb(104, 151, 117);
  font-family: 'Abel', sans-serif;
}

#addBtn {
  background-color: rgb(199, 73, 58);
  color: rgb(248, 248, 248);
  font-family: 'Abel', sans-serif;
}

#delete-btn {
  color: rgb(199, 73, 58);
  font-family: 'Abel', sans-serif;
}

.control-label {
  color: rgb(199, 73, 58);
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Abel', sans-serif;
}

.inputMovie {
  background-color: rgba(5, 5, 5, 0.4);
  color: white;
  border: 1px solid rgb(199, 73, 58);
  font-family: 'Abel', sans-serif;
}

.pInfo {
  color: white;
  background-color: rgba(5, 5, 5, 0.4);
  border: 5px solid rgb(14, 14, 14);
  font-family: 'Abel', sans-serif;
}

* {
  margin: 0; padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: none;
}
.container {
  overflow: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
#background_video {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%; width: 100%;
}
#video_cover {
  position: fixed;
  width: 100%; height: 100%;
  background: url('../imgs/film_027___4K_res.mp4') no-repeat;
  background-size: cover;
  background-position: center;
}
#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#play img {
  width: 100px;
}
#pause img {
  width: 90px;
}
#pause {
  display: none;
}
@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}
.container {
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
}
